/*font-family: 'Monoton', cursive;
font-family: 'Cinzel', serif;
font-family: 'Merienda', cursive;*/

h1{
    font-family: 'Monoton', cursive;
}

h3{
    font-family: 'Cinzel', serif; 
}

.b-marg{
    margin-top: 30px;
}

h5{
    font-family: 'Merienda', cursive;
}

.text{
    color: black;
    font-family: 'Merienda', cursive;
    font-weight: 700;
}